<form class="form-horizontal" onsubmit="return false;">

    <small class="muted" data-bind="text: ui_device() == '' ? '&#9888;' : ''"></small>
    <small class="muted">Detected device:</small>
    <small class="muted" data-bind="text: ui_device"></small>

    <div class="control-group">
        <h4>Pattern</h4>
        <div class="">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('Axis')}}</h6></div>
                <div class="span2"><h6>{{_('Distance')}}</h6></div>
                <div class="span2"><h6>{{_('Speed')}}</h6></div>
                <div class="span2"><h6>{{_('Acceleration')}}</h6></div>
            </div>

            <div>
                <div class="row-fluid">
                    <div class="span2">
                        X <input type="checkbox" data-bind="checked: ui_do_sample_x">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: ui_distance_x_mm">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="10" max="500" data-bind="value: ui_speed_x_mm_s">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="50" max="1000" data-bind="value: ui_acceleration_x_mm_ss">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        Y <input type="checkbox" data-bind="checked: ui_do_sample_y">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: ui_distance_y_mm">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="10" max="500" data-bind="value: ui_speed_y_mm_s">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="50" max="1000" data-bind="value: ui_acceleration_y_mm_ss">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        Z <input type="checkbox" data-bind="checked: ui_do_sample_z">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: ui_distance_z_mm">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="10" max="500" data-bind="value: ui_speed_z_mm_s">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="50" max="1000" data-bind="value: ui_acceleration_z_mm_ss">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2"></div>
                    <div class="span2"> {{_('[mm]')}}</div>
                    <div class="span2"> {{_('[mm/s]')}}</div>
                    <div class="span2"> {{_('[mm/s^2]')}}</div>
                </div>
            </div>
        </div>

        <div class="">
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="10" data-bind="value: ui_step_count">
                <span class="help-inline">{{_('steps')}}</span>
                <span class="help-block">
                    {{_('repeats the travel pattern <code>step</code>-times within one record')}}
                </span>
            </label>
        </div>

        <h4>Input Shaping</h4>

        <div class="">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('Start') }}</h6></div>
                <div class="span2"><h6>{{_('Stop') }}</h6></div>
                <div class="span2"><h6>{{_('Step') }}</h6></div>
                <div class="span4"></div>
            </div>

            <div>
                <div class="row-fluid">
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="0" max="100" data-bind="value: ui_frequency_start">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: ui_frequency_stop">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: ui_frequency_step">
                    </div>
                    <div class="span4">
                        <span class="help-inline">{{_('Input Shaping frequency')}}</span><a href="https://marlinfw.org/docs/gcode/M593.html" target="_blank" rel="noopener noreferrer">{{_('*')}}</a>
                        <br/>
                        <span class="muted">{{_('Steps: ')}}</span>
                        <span class="muted" data-bind="text: ui_frequency_step_total_count() < 0 ? '&#9888;' : ''"></span>
                        <span class="muted" data-bind="text: ui_frequency_step_total_count"></span>
                    </div>

                </div>
                <div class="row-fluid">
                    <div class="span2"> {{_('[Hz]')}}</div>
                    <div class="span2"> {{_('[Hz]')}}</div>
                    <div class="span2">{{_('[Hz]')}}</div>
                </div>
            </div>
        </div>

        <div class="">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('Start') }}</h6></div>
                <div class="span2"><h6>{{_('Stop') }}</h6></div>
                <div class="span2"><h6>{{_('Step') }}</h6></div>
                <div class="span4"></div>
            </div>

            <div>
                <div class="row-fluid">
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="0" max="100" data-bind="value: ui_zeta_start">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: ui_zeta_stop">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: ui_zeta_step">
                    </div>
                    <div class="span4">
                        <span class="help-inline">{{_('Input Shaping Zeta')}}</span><a href="https://marlinfw.org/docs/gcode/M593.html" target="_blank" rel="noopener noreferrer">{{_('*')}}</a>
                        <br/>
                        <span class="muted">{{_('Steps: ')}}</span>
                        <span class="muted" data-bind="text: ui_zeta_step_total_count() < 0 ? '&#9888;' : ''"></span>
                        <span class="muted" data-bind="text: ui_zeta_step_total_count"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2"> {{_('E^-2')}}</div>
                    <div class="span2"> {{_('E^-2')}}</div>
                    <div class="span2"> {{_('E^-2')}}</div>
                </div>
            </div>
        </div>

        <h4>Sequence</h4>

        <div class="">
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="10" data-bind="value: ui_sequence_count">
                <span class="help-inline">{{_('sequence')}}</span>
                <span class="help-block">
                    {{_('repeats the above configured permutations <code>sequence</code>-times')}}
                </span>
            </label>
        </div>

        <h4>Recording</h4>

        <div class="">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0.1" max="10.0" step="0.1" data-bind="value: ui_recording_timespan_s">
                <span class="help-inline">{{_('[s] recording timespan per record')}}</span>
            </label>
        </div>

        <div class="">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0.1" max="1.0" step="0.1" data-bind="value: ui_sequence_separation_s">
                <span class="help-inline">{{_('[s] pause in between records')}}</span>
            </label>
        </div>

        <div class="">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0.1" max="1.0" step="0.1" data-bind="value: ui_step_separation_s">
                <span class="help-inline">{{_('[s] pause in between steps')}}</span>
            </label>
        </div>
        <span class="muted">{{ _('Estimated total recording time: ')}}</span>
        <span class="muted" data-bind="text: ui_estimated_recording_duration_text() === '' ? '&#9888;' : ui_estimated_recording_duration_text"></span>
    </div>

    <button type="button" class="btn btn-danger pull-right span2" data-bind="click: abortRecording">Abort</button>
    <button type="button" class="btn btn-primary pull-right span2" data-bind="click: startRecording, enable: (ui_estimated_recording_duration_text() !== '') && printer_state.isOperational()">Start
    </button>
    <br/>
    <hr/>

    <div class="control-group">
        <h4>Data Visualisation - TODO</h4>
    </div>
</form>
