<h3>Octoprint Accelerometer</h3>

<form class="form-horizontal" onsubmit="return false;">
    <div class="control-group">

        <h4>Trajectory Generator</h4>

        <span class="help-block">
                {{ _('The generator will compute back and forth movement permutations for each axis depending on:
                      selected <code>axis</code>, <code>times</code> to move back and forth,
                      <code>reruns</code> and input shaping limits such as <code>frequency</code> and
                      <code>zeta</code> parameter (see ')}}
                <a href="https://marlinfw.org/docs/gcode/M593.html" target="_blank" rel="noopener noreferrer">{{_('M593')}}</a>).
        </span>

        <h5>Pattern</h5>

        <div class="controls">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('Axis')}}</h6></div>
                <div class="span2"><h6>{{_('Distance')}}</h6></div>
                <div class="span2"><h6>{{_('Speed')}}</h6></div>
                <div class="span2"><h6>{{_('Acceleration')}}</h6></div>
            </div>

            <div>
                <div class="row-fluid">
                    <div class="span2">
                        X <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.do_sample_x">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.distance_x_mm">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="10" max="500" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.speed_x_mm_s">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="50" max="1000" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.acceleration_x_mm_ss">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        Y <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.do_sample_y">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.distance_y_mm">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="10" max="500" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.speed_y_mm_s">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="50" max="1000" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.acceleration_y_mm_ss">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2">
                        Z <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.do_sample_z">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.distance_z_mm">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="10" max="500" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.speed_z_mm_s">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="50" max="1000" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.acceleration_z_mm_ss">
                    </div>
                </div>

                <div class="row-fluid">
                    <div class="span2"></div>
                    <div class="span2"> {{_('[mm]')}}</div>
                    <div class="span2"> {{_('[mm/s]')}}</div>
                    <div class="span2"> {{_('[mm/s^2]')}}</div>
                </div>
            </div>

            <span class="help-block">
                {{_('<code>distance</code>: how far to move back and forth')}}<br/>
                {{_('<code>speed</code>: axis maximum speed')}}<br/>
                {{_('<code>acceleration</code>: axis acceleration')}}<br/>
            </span>
        </div>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="10" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.step_count">
                <span class="help-inline">{{_('steps')}}</span>
                <span class="help-block">
                    {{_('repeats the travel pattern <code>step</code>-times within one record')}}
                </span>
            </label>
        </div>

        <h6>Anchor Point</h6>

        <div class="controls">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('X')}}</h6></div>
                <div class="span2"><h6>{{_('Y')}}</h6></div>
                <div class="span2"><h6>{{_('Z')}}</h6></div>
            </div>

            <div class="row-fluid">
                <div class="span2">
                    <input type="number" class="input-mini text-right" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.anchor_point_coord_x_mm">
                </div>
                <div class="span2">
                    <input type="number" class="input-mini text-right" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.anchor_point_coord_y_mm">
                </div>
                <div class="span2">
                    <input type="number" class="input-mini text-right" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.anchor_point_coord_z_mm">
                </div>
            </div>

            <div class="row-fluid">
                <div class="span2">{{_('[mm]')}}</div>
                <div class="span2">{{_('[mm]')}}</div>
                <div class="span2">{{_('[mm]')}}</div>
            </div>

            <span class="help-block">
                {{_('The pattern <code>start point</code> is calculated from the <code>anchor point</code>,
                     hence the back and forth movement happens around the anchor point.
                     The start coordinates (<code>X</code>, <code>Y</code>, <code>Z</code>) have an
                     offset of <code>distance[XYZ]/2</code>.')}}
            </span>
        </div>

        <h5>Input Shaping</h5>

        <span class="help-block">
            {{_('Start, stop and increment for input shaping.
                  For each step in frequency and Zeta range the configured amount of travel patterns is executed.
                  To disable stepping through <code>frequency</code> and <code>zeta</code> ranges,
                  set <code>start=stop</code>.
                  Requires Marlin <code>INPUT_SHAPING_[XY]</code>, see')}}
            <a href="https://marlinfw.org/docs/gcode/M593.html" target="_blank" rel="noopener noreferrer">{{_('M593')}}</a>.
        </span>

        <div class="controls">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('Start')}}</h6></div>
                <div class="span2"><h6>{{_('Stop')}}</h6></div>
                <div class="span2"><h6>{{_('Step')}}</h6></div>
                <div class="span2"></div>
            </div>

            <div>
                <div class="row-fluid">
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="0" max="100" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.start_frequency_hz">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.stop_frequency_hz">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.step_frequency_hz">
                    </div>
                    <div class="span2">
                        <span class="muted">{{_('Steps: ')}}</span>
                        <span class="muted" data-bind="text: ui_frequency_hz_step_total_count() < 0 ? '&#9888;' : ''"></span>
                        <span class="muted" data-bind="text: ui_frequency_hz_step_total_count"></span>
                    </div>
                </div>
            </div>
            <div class="row-fluid">
                <div class="span2">{{_('[Hz]')}}</div>
                <div class="span2">{{_('[Hz]')}}</div>
                <div class="span2">{{_('[Hz]')}}</div>
            </div>
            <span class="help-block">
                    {{ _('Start, stop <code>frequency</code> and increment step.')}}
            </span>
        </div>

        <div class="controls">
            <div class="row-fluid">
                <div class="span2"><h6>{{_('Start')}}</h6></div>
                <div class="span2"><h6>{{_('Stop')}}</h6></div>
                <div class="span2"><h6>{{_('Step')}}</h6></div>
                <div class="span2"></div>
            </div>

            <div>
                <div class="row-fluid">
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="0" max="100" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.start_zeta_em2">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.stop_zeta_em2">
                    </div>
                    <div class="span2">
                        <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.step_zeta_em2">
                    </div>
                    <div class="span2">
                        <span class="muted">{{_('Steps: ')}}</span>
                        <span class="muted" data-bind="text: ui_zeta_em2_step_total_count() < 0 ? '&#9888;' : ''"></span>
                        <span class="muted" data-bind="text: ui_zeta_em2_step_total_count"></span>
                    </div>
                </div>
                <div class="row-fluid">
                    <div class="span2"> {{ _('E^-2')}}</div>
                    <div class="span2"> {{ _('E^-2')}}</div>
                    <div class="span2"> {{ _('E^-2')}}</div>
                </div>
            </div>
            <span class="help-block">
                {{_('Start, stop <code>zeta</code> and increment. The parameter is scaled <code>*100</code>.')}}
            </span>
        </div>

        <h5>Sequence</h5>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="10" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.sequence_count">
                <span class="help-inline">{{_('sequence')}}</span>
                <span class="help-block">
                    {{_('How many <code>sequence</code>s to pass: runs the above configured permutations <code>sequence</code>-times.')}}
                </span>
            </label>
        </div>

        <h4>Recording</h4>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0.1" max="10.0" step="0.1" data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.recording_timespan_s">
                <span class="help-inline">{{ _('[s]')}}</span>
                <span class="help-block">
                    {{ _('Record samples for the given timespan.
                          Choose the timespan according to the printer speed and acceleration settings,
                          so that a short break in between steps can be observed.
                          For the moment sampling is not synchronized with the very last step of each movement,
                          hence a too short period will bring the sampling out of sync with the printer movement.')}}
                </span>
            </label>
        </div>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0.1" max="1.0" step="0.1"
                       data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.step_separation_s">
                <span class="help-inline">{{ _('[s]')}}</span>
                <span class="help-block">
                    {{_('Pause in-between travel patterns (steps)')}}
                </span>
            </label>
        </div>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0.1" max="1.0" step="0.1"
                       data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.sequence_separation_s">
                <span class="help-inline">{{ _('[s]')}}</span>
                <span class="help-block">
                    {{_('Pause in-between sequences (series of steps')}}
                </span>
            </label>
        </div>

        <div class="controls">
            <select data-bind="value: settings_view_model.settings.plugins.octoprint_accelerometer.sensor_output_data_rate_hz">
                <option value="3200">{{ _('3200') }}</option>
                <option value="1600">{{ _('1600') }}</option>
                <option value="800">{{ _('800') }}</option>
                <option value="400">{{ _('400') }}</option>
                <option value="200">{{ _('200') }}</option>
                <option value="100">{{ _('100') }}</option>
            </select>
            <span class="help-inline">{{ _('[Hz]')}}</span>
            <span class="help-block">
                {{_('How many <code>samples</code> per second the sensor shall capture.
                     Decrease if FiFo overflow is reported.
                     An overflow error is most likely not a problem with the controller
                     but rather the host performance.')}}
            </span>
        </div>

        <span class="muted">{{ _('Estimated total recording time: ')}}</span>
        <span class="muted" data-bind="text: ui_estimated_recording_duration_text() === '' ? '&#9888;' : ui_estimated_recording_duration_text"></span>

        <h4>Advanced</h4>

        <div class="controls">

            <label class="number">
                <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.auto_home">
                <span class="help-inline">{{_('Send auto-home before first step')}}</span>
            </label>

            <label class="number">
                <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.go_start">
                <span class="help-inline">{{_('Go to start position before very first step')}}</span>
            </label>

            <label class="number">
                <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.return_start">
                <span class="help-inline">{{_('Return to start after each step')}}</span>
            </label>

            <label class="number">
                <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.data_remove_before_run">
                <span class="help-inline">{{_('Remove old data before next run')}}</span>
            </label>

            <label class="number">
                <input type="checkbox" data-bind="checked: settings_view_model.settings.plugins.octoprint_accelerometer.do_dry_run">
                <span class="help-inline">{{_('Dry run: does not invoke either Gcode nor controller HW')}}</span>
            </label>
        </div>
    </div>
</form>
