<h3>Octoprint Accelerometer</h3>

<form class="form-horizontal" onsubmit="return false;">
    <div class="control-group">

        <h4>Trajectory Generator</h4>

        <span class="help-block">
                {{ _('The generator will compute back and forth movement permutations for each axis depending on:
                      selected <code>axis</code>, <code>times</code> to move back and forth,
                      <code>reruns</code> and input shaping limits such as <code>frequency</code> and
                      <code>zeta</code> parameter (see ')}}
                <a href="https://marlinfw.org/docs/gcode/M593.html">M593</a>).
        </span>

        <h5>Pattern</h5>

        <div class="controls">
            <label class="number">
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.do_sample_x">
                <span class="help-inline">{{ _('X')}}</span>
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.do_sample_y">
                <span class="help-inline">{{ _('Y')}}</span>
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.do_sample_z">
                <span class="help-inline">{{ _('Z axis')}}</span>
            </label>
        </div>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="5" max="150" data-bind="value: settings.plugins.octoprint_accelerometer.distance_mm">
                <span class="help-inline">{{ _('mm')}}</span>
                <span class="help-block">
                    {{ _('Distance to move back and forth in one repetition')}}
                </span>
            </label>
        </div>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="10" data-bind="value: settings.plugins.octoprint_accelerometer.repetitions_count">
                <span class="help-inline">{{ _('times')}}</span>
                <span class="help-block">
                    {{ _('How often to repeat back and forth before one step is finished.')}}
                </span>
            </label>
        </div>

        <h5>Input Shaping</h5>

        <span class="help-block">
            {{ _('Start, stop <code>frequency</code> and increment step.')}}
        </span>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0" max="100" data-bind="value: settings.plugins.octoprint_accelerometer.frequency_start">
                <span class="help-inline">{{ _('Hz')}}</span>
            </label>
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings.plugins.octoprint_accelerometer.frequency_stop">
                <span class="help-inline">{{ _('Hz')}}</span>
            </label>
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings.plugins.octoprint_accelerometer.frequency_step">
                <span class="help-inline">{{ _('Hz')}}</span>
            </label>
        </div>

        <span class="help-block">
            {{ _('Start, stop <code>zeta</code> and increment step. The parameter is scaled <code>*100</code>.')}}
        </span>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="0" max="100" data-bind="value: settings.plugins.octoprint_accelerometer.zeta_start">
                <span class="help-inline">{{ _('E^-2')}}</span>
            </label>
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings.plugins.octoprint_accelerometer.zeta_stop">
                <span class="help-inline">{{ _('E^-2')}}</span>
            </label>
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="100" data-bind="value: settings.plugins.octoprint_accelerometer.zeta_step">
                <span class="help-inline">{{ _('E^-2')}}</span>
            </label>
        </div>

        <h5>Series</h5>

        <div class="controls">
            <label class="number">
                <input type="number" class="input-mini text-right" min="1" max="10" data-bind="value: settings.plugins.octoprint_accelerometer.runs_count">
                <span class="help-inline">{{ _('rerun')}}</span>
                <span class="help-block">
                    {{ _('How many <code>series</code> to run: repeats permutations <code>series</code>-times.')}}
                </span>
            </label>
        </div>

        <div class="control-group">

            <h4>Recording</h4>

            <div class="controls">
                <label class="number">
                    <input type="number" class="input-mini text-right" min="0.1" max="10.0" step="0.1" data-bind="value: settings.plugins.octoprint_accelerometer.recording_timespan_s">
                    <span class="help-inline">{{ _('s')}}</span>
                    <span class="help-block">
                    {{ _('Records samples for the given timespan.
                          Choose the timespan according to your printer speed and acceleration settings,
                          so that a short break in between steps can be observed.
                          For the moment sampling is not synchronized with the very last step of each movement.')}}
                </span>
                </label>
            </div>

            <div class="controls">
                <label class="number">
                    <input type="number" class="input-mini text-right" min="0.1" max="1.0" step="0.1" data-bind="value: settings.plugins.octoprint_accelerometer.steps_separation_s">
                    <span class="help-inline">{{ _('s')}}</span>
                    <span class="help-block">
                    {{ _('Pause after step is finished until next step is started')}}
                </span>
                </label>
            </div>

            <div class="controls">
                <select data-bind="value: settings.plugins.octoprint_accelerometer.sensor_output_data_rate_hz">
                    <option value="3200">{{ _('3200') }}</option>
                    <option value="1600">{{ _('1600') }}</option>
                    <option value="800">{{ _('800') }}</option>
                    <option value="400">{{ _('400') }}</option>
                    <option value="200">{{ _('200') }}</option>
                    <option value="100">{{ _('100') }}</option>
                </select>
                <span class="help-inline">{{ _('Hz')}}</span>
                <span class="help-block">
                    {{ _('How many <code>samples</code> per second the sensor shall capture.
                    Decrease if FiFo overflow is reported.
                    Overflow error is most likely no problem with the controller but rather host IO load.')}}
                </span>
            </div>

        </div>

        <h5>Advanced</h5>

        <div class="controls">
            <label class="number">
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.auto_home">
                <span class="help-inline">{{ _('Send auto-home before first step')}}</span>
            </label>
            <label class="number">
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.go_start">
                <span class="help-inline">{{ _('Go to start position before very first step')}}</span>
            </label>
            <label class="number">
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.return_start">
                <span class="help-inline">{{ _('Return to start after each step')}}</span>
            </label>
        </div>
    </div>

    <div class="control-group">

        <h4>Data</h4>

        <div class="controls">
            <label class="number">
                <input type="checkbox" data-bind="checked: settings.plugins.octoprint_accelerometer.data_remove_before_run">
                <span class="help-inline">{{ _('Remove old data before next run')}}</span>
            </label>
        </div>

    </div>
</form>
